{% extends 'base.html' %}

{% block titleblock %}
Blog Details
{% endblock titleblock %}

{% block bodyblock %}

<style>
    .main-div {
        display: flex;
        flex-direction: column;
    }

    .heading-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 60px;
        font-weight: bold;
        text-decoration: underline;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .category,
    .date {
        padding-left: 0;
        margin-left: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }

    .category-span {
        color: aqua;
    }

    .date_added {
        color: lightgray;
    }

    .body-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .image {
        height: 450px;
        width: 855px;
        margin-bottom: 50px;
    }

    .comments_div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .img_comment {
        width: 30px;
        height: 40px;
        border-radius: 20px;
    }

    .pic_div {
        margin-right: 25px;
        margin-left: 15px;
    }

    .comment_username {
        font-size: 25px;
        font-weight: bold;
    }

    .comment_date {
        font-size: 15px;
        color: rgb(114, 108, 108);
    }

    hr {
        margin-top: 40px;
        margin-bottom: 25px;
    }
</style>

<div class="main-div">
    <div class="heading-div">
        <span class="title">{{blog_model.title}}</span>
        <span class="category">Category : <span class="category-span">{{blog_model.category}}</span></span>
        <span class="date">Date Published : <span class="date_added">{{blog_model.date_added}}</span></span>
    </div>
    <div class="body-div">
        <img src="/media/{{blog_model.image}}" class="image">
        <span>{{blog_model.description}}</span>

    </div>

</div>


<hr>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

    .comments_div {
        display: flex;
        gap: 25px;
        margin-left: 50px;
        margin-bottom: 25px;
    }

    .comment_image img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .comment_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .comment_content .comment_heading h3 {
        font-size: 15px;
        color: #212121;
        font-family: "Roboto", sans-serif;
    }

    .comment_content .comment_heading p {
        font-size: 13px;
        color: #2121218A;
    }

    .comment_heading {
        display: flex;
        flex-direction: row;
        gap: 10px;

    }

    .comment_body {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
    }

    form {
        display: flex;
        gap: 20px;
        margin: 25px 50px;
        align-items: center;
    }

    form button {
        background-color: rgb(41, 187, 212);
        color: white;
        border-radius: 5px;
        padding: 8px;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        transition: 0.4s ease-in;
    }

    button:hover {
        opacity: 0.7;
    }
</style>



{%for comment in comments%}
<div class="comments_div">
    {%if comment.user.user_profile.profile_pic%}
    <div class="comment_image">
        <img src="{{comment.user.user_profile.profile_pic.url}}" alt="">
    </div>
    {%else%}
    <div class="comment_image"><img src="/media/profile_pics/user.png" alt=""></div>
    {%endif%}
    <div class="comment_content">
        <div class="comment_heading">
            <h3>{{comment.user.username}}</h3>
            <p>{{comment.uploaded_date}}</p>
        </div>
        <div class="comment_body">
            {{comment.comment}}
        </div>
    </div>
</div>
{%empty%}
<h1>No Comments In Here!</h1>
{%endfor%}



<div class="form_div">
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Comment!</button>
    </form>

</div>


{% endblock bodyblock %}