{% extends 'base.html' %}

{% block titleblock %}
Blog Details
{% endblock titleblock %}

{% block bodyblock %}

<style>
    .main-div {
        display: flex;
        flex-direction: column;
    }

    .heading-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        font-size: 60px;
        font-weight: bold;
        text-decoration: underline;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .category,.date{
        padding-left: 0;
        margin-left: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    
    .category-span{
        color: aqua;
    }

    .date_added{
        color: lightgray;
    }
    .body-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .image{
        height: 450px;
        width: 855px;
        margin-bottom: 50px;
    }
</style>

<div class="main-div">
    <div class="heading-div">
        <span class="title">{{blog_model.title}}</span>
        <span class="category">Category : <span class="category-span">{{blog_model.category}}</span></span>
        <span class="date">Date Published : <span class="date_added">{{blog_model.date_added}}</span></span>
    </div>
    <div class="body-div">
        <img src="/media/{{blog_model.image}}" class="image">
        <span>{{blog_model.description}}</span>

    </div>

</div>

<div class="form-div">
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-outline-success">Comment!</button>
    </form>

</div>

<div class="comments_div">
    {%for comment in comments%}
        <div style="display: flex; flex-direction: column; justify-content: flex-start;">
            <h3>{{comment.user.username}} &nbsp; <span style="color: gray;">{{comment.uploaded_date}}</span></h3>
            <p>{{comment.comment}}</p>
        </div>
    {%empty%}
    <h1>No Comments In Here!</h1>
    {%endfor%}
</div>
{% endblock bodyblock %}