{% extends 'base.html' %}

{% block titleblock %}
Blog Details
{% endblock titleblock %}

{% block bodyblock %}
<script src="https://kit.fontawesome.com/4afee10683.js" crossorigin="anonymous"></script>
<style>
    .main-div {
        display: flex;
        flex-direction: column;
    }

    .heading-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 60px;
        font-weight: bold;
        text-decoration: underline;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .category,
    .date {
        padding-left: 0;
        margin-left: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }

    .category-span {
        color: aqua;
    }

    .date_added {
        color: lightgray;
    }

    .body-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .image {
        height: 450px;
        width: 855px;
        margin-bottom: 50px;
    }

    .comments_div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .img_comment {
        width: 30px;
        height: 40px;
        border-radius: 20px;
    }

    .pic_div {
        margin-right: 25px;
        margin-left: 15px;
    }

    .comment_username {
        font-size: 25px;
        font-weight: bold;
    }

    .comment_date {
        font-size: 15px;
        color: rgb(114, 108, 108);
    }

    hr {
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .like_div i {
        font-size: 50px;


    }

    .like_div {
        margin: 0 200px;
    }

    .like_div h4 {
        font-size: 25px;
        color: black;
        font-weight: 500;
        font-style: italic;
    }
</style>

<div class="main-div">
    <div class="heading-div">
        <span class="title">{{blog_model.title}}</span>
        <span class="category">Category : <span class="category-span">{{blog_model.category}}</span></span>
        <span class="date">Date Published : <span class="date_added">{{blog_model.date_added}}</span></span>
    </div>
    <div class="body-div">
        <img src="/media/{{blog_model.image}}" class="image">
        <span>{{blog_model.description}}</span>
    </div>

    {%if user.is_authenticated%}
    {%if has_liked%}
    <div class="like_div">
        <form action="{%url 'blogapp:like_blog' pk=blog_model.pk%}" method="post">
            {%csrf_token%}
            <button type="submit" value="like" name="like" id="like"><i class="fa-solid fa-heart"></i></button>
        </form>
        <h4>Likes : {{liked_count}}</h4>
    </div>

    {%else%}
    <div class="like_div">
        <form action="{%url 'blogapp:like_blog' pk=blog_model.pk%}" method="post">
            {%csrf_token%}
            <button type="submit" value="like" name="like" id="like"><i class="fa-regular fa-heart"></i></button>
        </form>
        <h4>Likes : {{liked_count}}</h4>
    </div>

    {%endif%}
    {%endif%}
</div>



<hr>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,700&display=swap");

    .comment_container {
        display: flex;
        gap: 30px;
        margin: 20px 50px;
        font-family: "Roboto", sans-serif;
    }

    .comment_image img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }

    .comment_content {
        display: flex;
        flex-direction: column;
        gap: 7px;
        justify-content: flex-start;
    }

    .comment_heading {
        display: flex;
        gap: 5px;
    }

    .comment_heading h3 {
        font-size: 15px;
        color: #212121;
    }

    .comment_heading p {
        font-size: 13px;
        color: #2121218A;
    }

    .form_div {
        margin-left: 50px;
    }

    .form_div form {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .form_div form button {
        padding: 8px;
        background-color: turquoise;
        border-radius: 5px;
        transition: 0.4s ease-in;
    }

    form button:hover {
        opacity: 0.7;
    }
</style>

{%for comment in comments%}
<div class="comment_container">
    {%if comment.user.user_profile.profile_pic%}
    <div class="comment_image">

        <img src="{{comment.user.user_profile.profile_pic.url}}" alt="User Profile Pic">
    </div>
    {%else%}
    <div class="comment_image">
        <img src="/media/profile_pics/user.png" alt="Default User Image">
    </div>
    {%endif%}
    <div class="comment_content">
        <div class="comment_heading">
            <h3>{{comment.user.username}}</h3>
            <p>{{comment.uploaded_date}}</p>
        </div>
        <div class="comment_body">
            <p>{{comment.comment}}</p>
        </div>
    </div>
</div>
{%empty%}
<h1>No Comments!</h1>
{%endfor%}

<div class="form_div">
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Comment!</button>
    </form>

</div>


{% endblock bodyblock %}